{{> head }}
{{> navbar}}

<div class="row">

    <dir class="col-8">
        <h1>HOLA LUNA</h1>
    </dir>

    <dir class="col-4">
        <img src="assets/img/moon2.jpeg" class="img-thumbnail">
    </dir>

</div>

{{> footer }}
